body{
    font-family: 'Roboto', sans-serif;
    background-color: #ed96f5;
}

/* navbar css starts here  */
.bg-light{
    background-color: rgb(171, 216, 255)!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #f8111d!important;
}

.nav-link{
    color: #000000!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f7bcbc;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(161, 33, 65)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(192, 12, 247)!important;
}
